<header class="navbar navbar-expand-md navbar-dark bg-dark px-4 py-2 w-100">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">samkitzrow.com</a>
        
        <nav class="d-flex gap-3">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">Home</NavLink>
            <a class="nav-link text-white" target="_blank" href="files/resume.pdf" rel="noopener noreferrer">Resume</a>
        </nav>
    </div>
</header>