@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <h1 class="display-4 mb-4">Sam Kitzrow</h1>

    <div class="row">
        <!-- Column 1: Image -->
        <div class="col-md-4 text-center">
            <img src="images/Sam2024-9596_400.jpg" class="img-fluid rounded" alt="Profile Image" />
        </div>

        <!-- Column 2: Text -->
        <div class="col-md-8">
            <h2 class="h4">About me</h2>
            <!-- Bio Section -->
            <div class="mb-4">
                <dl class="row">
                    <dt class="col-sm-4">Age</dt>
                    <dd class="col-sm-8">33</dd>

                    <dt class="col-sm-4">Location</dt>
                    <dd class="col-sm-8">Milwaukee, WI</dd>

                    <dt class="col-sm-4">Occupation</dt>
                    <dd class="col-sm-8">Software Developer</dd>

                    <dt class="col-sm-4">Years of Experience</dt>
                    <dd class="col-sm-8">11 years</dd>
                </dl>
            </div>
            <div class="row">
                <!-- Interests -->
                <div class="col-sm-12 col-md-4 mb-4">
                    <h5>Interests</h5>
                    <ul class="list-unstyled mb-0">
                        <li>🏃 Running</li>
                        <li>🚴 Biking</li>
                        <li>🖥️ Computers & Software</li>
                        <li>🎸 Playing Guitar</li>
                        <li>📚 Reading</li>
                        <li>🧠 Trivia</li>
                    </ul>
                </div>
                <!-- Goals -->
                <div class="col-sm-12 col-md-8 mb-4">
                    <h5>Goals</h5>
                    <ul class="list-unstyled mb-0">
                        <li>🕛 Improve 5k personal best</li>
                        <li>🌐 Create an open-source CMS template</li>
                        <li>📖 Read 10 books in 2025</li>
                        <li>🎤 Play an open mic in 2025</li>
                        <li>🛠️ Remodel my kitchen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>